.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-primary);
  margin-bottom: var(--spacing-xxl);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}
